.draft-js-outofbox {
  line-height: 1.8;
}

.draft-js-outofbox svg path {
  fill: #999;
}

.draft-js-outofbox .DraftEditor-root {
  padding: 8px;
  border: 1px solid #999;
}

.draft-js-outofbox .DraftEditor-editorContainer {
  min-height: 300px;
}

.draft-js-outofbox-controls,
.draft-js-outofbox-toolicon {
  display: inline-block;
  text-align: center;
}

.draft-js-outofbox-toolicon {
  width: 32px;
  cursor: pointer;
}

.draft-js-outofbox-toolicon.draft-js-outofbox-active svg path,
.draft-js-outofbox-toolicon:hover svg path {
  fill: #5890ff;
}
